@{
    ViewData["Title"] = "Home Page";
}

<h1>Welcome!</h1>
<h2>Please give your name:</h2>
<form method="post" asp-action="Create">
<label for="Name"></label>
<input type="text">
<button class="btn btn-primary">Submit</button>

</form>